
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
vendor/firebase/php-jwt/composer.json
vendor/firebase/php-jwt/README.md
vendor/firebase/php-jwt/LICENSE
vendor/google/apiclient-services/composer.json
vendor/google/apiclient-services/LICENSE
vendor/google/apiclient-services/README.md
*.metadata
*.py
*.json
vendor/google/apiclient/LICENSE
*.md
vendor/google/auth/COPYING
vendor/google/auth/LICENSE
vendor/guzzlehttp/guzzle/LICENSE
*.dist
vendor/guzzlehttp/promises/LICENSE
vendor/guzzlehttp/promises/Makefile
*.neon
*.xml
vendor/guzzlehttp/psr7/LICENSE
vendor/monolog/monolog/LICENSE
*.yml
vendor/phpseclib/phpseclib/AUTHORS
vendor/phpseclib/phpseclib/LICENSE
vendor/ralouphie/getallheaders/LICENSE
vendor/psr/log/LICENSE
vendor/psr/http-message/LICENSE
vendor/psr/http-client/LICENSE
*.txt
*.cnf

*.php
